@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=JetBrains+Mono:wght@400;500&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
}

@layer base {
  :root {
    --center-channel-bg: #1e1e1e;
    --center-channel-color: #dddddd;
    --center-channel-color-rgb: 221, 221, 221;
    --sidebar-bg: #111111;
    --sidebar-text: #ffffff;
    --button-bg: #166de0;
    --button-color: #ffffff;
    --link-color: #5d89ea;
    --mention-bg: rgba(22, 109, 224, 0.3);
    --mention-color: #5d89ea;
    --online-indicator: #3db887;
    --away-indicator: #ffbc42;
    --dnd-indicator: #f74343;
    --error-text: #fd5960;
  }
}

/* Custom Utilities for Scrollbars matches channel */
@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(var(--center-channel-color-rgb), 0.15);
    border-radius: 20px;
  }
  .custom-scrollbar:hover::-webkit-scrollbar-thumb {
    background-color: rgba(var(--center-channel-color-rgb), 0.25);
  }
  
  .no-scrollbar-y::-webkit-scrollbar {
      display: none;
  }
}
